<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Twitter</title>

    <style>
     body {
         background-color: lightslategray;
     }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
{#     style="position: fixed; width: 100%; margin-top: -1px; z-index: 200;"#}
>
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "logout" %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "twitterApp:register" %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "twitterApp:login" %}">Login</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "twitterApp:tweet" %}">Tweet</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block body_block %}

    {% endblock %}
</div>
</body>

</html>