<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
    <div class="jumbotron" style="margin-top: 25%;">
        <form method="post" action="{% url 'twitterApp:login' %}">
            <h2 style="margin-bottom: 25px;"> Login Form: </h2>
            {% csrf_token %}

            <label for="username"> Username: </label>
            <input type="text" placeholder="Enter your username" name="username" style="margin-right: 40px;">

            <label for="password"> Password: </label>
            <input type="password" placeholder="Enter your password" name="password" style="margin-right: 40px">

            <input type="submit" class="btn btn-primary" value="Login">

            <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
                <img id="signInButton" style="height: 50px; margin-left: 40px;"
                     src="http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png"
                     onclick="document.getElementById('signInButton').src='http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png'">
            </a>
        </form>
        {% if danger %}
            <div class="alert alert-info" style="margin-top: 10px;" role="alert">
                {{ danger }}
            </div>
        {% endif %}
    </div>
{% endblock %}