<!DOCTYPE html>
{% extends "base.html" %}

{% block body_block %}
    <div class="jumbotron" style="margin-top: 25%;">
        <form method="post" enctype="multipart/form-data">
            <h2 style="margin-bottom: 25px;"> Registration Form: </h2>
            {{ user_form.as_p }}
            {{ prof_form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="submit">

            <img id="signInButton" style="height: 50px; margin-left: 40px;"
                     src="http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png"
                     onclick="document.getElementById('signInButton').src='http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png'">
        </form>
    </div>
{% endblock %}

