<!DOCTYPE html>
{% extends "base.html" %}

{% block body_block %}
    <div class="jumbotron" style="margin-top: 25%;">
        <form method="post">
            <h2 style="margin-bottom: 25px;"> Registration Form: </h2>
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="submit">

        </form>
        <a style="text-decoration: none; color: black; margin-top: 20px;" class="btn btn-warning"
           href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
    </div>
{% endblock %}